<header>
    <nav>
        <div class="left">
            <div class="logo">
                <img src="./img/Plasma Link Logo.png">
            </div>
        </div>
        <div class="right">
            <ul>
                <li><a href="/home">Home</a></li>
                <li><a href="/login">User</a></li>
                <li><a href="/Hlogin">Hospital</a></li>
                <li><a href="/">Contact</a></li>
                <!--<li><button class="btn">Donate</button></li> -->
            </ul>
        </div>
    </nav>
</header>