<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blood_Donation</title>
    <link rel="stylesheet" href="./css/plasma_donation.css">
</head>
<body>
    <header>
        <nav>
            <div class="left">
                <div class="logo">
                    <img src="./img/Plasma Link Logo.png">
                </div>
            </div>
            <div class="right">
                <ul>
                    <li><a href="/home">Home</a></li>
                    <li><a href="/login">User</a></li>
                    <li><a href="/hlogin">Hospital</a></li>
                    <li><a href="/">Contact</a></li>
                  <!--  <li><button class="btn">Donate</button></li> -->
                </ul>
            </div>
        </nav>
    </header>

    <main>
        <div class="container1">
            <h1 class="title " style="padding:35px 0px 0px 100px;">Blood Donation</h1>
            <p class="para " style=" padding:20px 100px 70px 100px;">
                Our clinic is dedicated to ensuring the well-being of all individuals within our community. We 
                recognize the vital importance of blood donation in saving lives and sustaining health. Our 
                team is committed to facilitating and promoting blood donation initiatives, fostering a culture 
                of compassion and generosity among our patients and staff. Whether through organizing 
                blood drives, providing information on donation procedures, or supporting donors throughout 
                the process, we strive to contribute to the noble cause of enhancing the availability of life-
                saving blood for those in need. Your participation in this essential act of giving is deeply 
                appreciated and makes a significant impact on the lives of others.
            </p>
        </div>

        <div class="container2" >
            <div class="first-images animated" id="images">
                <img src="./img/Blood_Donation.jpg" style="padding:60px 20px 20px 147px">
                <img src="./img/Blood_Donation1.jpg" style="padding:20px 147px 20px 0px">
            </div>
            <div class="second-images animated" id="images">
                <img src="./img/Blood_Donation2.jpg" style="padding:0px 20px 60px 147px">
                <img src="./img/Blood_Donation3.jpg" style="padding:0px 147px 60px 0px">
            </div>
        </div>

        <div class="container3">
            <h1 class="title animated" style="padding:40px 0px 30px 100px">Why to donate Blood?</h1>
            <div  class="animated" style="display: flex;">
                <p class="para"  style="padding:0px 25px 60px 100px;">
                    Donating blood is a selfless act that holds the power to save lives and improve the health 
                    of individuals in critical need. Every donation serves as a lifeline for patients undergoing 
                    surgeries, recovering from illnesses, or facing medical emergencies. By giving blood, 
                    donors provide essential components such as red blood cells, Blood, and platelets that 
                    are crucial for various medical treatments and procedures. The impact of blood 
                    donation extends far beyond the donor themselves, reaching individuals battling life-
                    threatening conditions like cancer, anemia, or severe injuries from accidents.Furthermore,
                    donating blood is a simple yet profound way to contribute to the collective well-being
                    of society, fostering a sense of unity and compassion within communities.
                </p>
                <p class="para" style=" padding:0px 100px 60px 0px;">
                    It is a tangible expression of care and solidarity, demonstrating that we are willing to 
                    stand together and support one another in times of need. Moreover, regular blood 
                    donation not only helps save lives but also offers health benefits for the donor, such as 
                    reducing the risk of cardiovascular diseases and promoting the production of fresh, 
                    healthy blood cells. Ultimately, donating blood is a deeply meaningful way to make a
                    positive difference in the world, one that embodies the values of empathy, generosity, 
                    and human connection.
                </p>
            </div>

            <div class="container4" >
                <h1 class="title animated" style="text-align:center;padding-top:50px ">Benefits of Blood Donation</h1>
                <p class="para animated" style="text-align: center;padding:40px 260px 57px 260px;">
                    Blood donation offers numerous benefits, both for the recipients who rely on donated 
                    blood and for the donors themselves. Primarily, donating blood saves lives by providing 
                    a crucial resource for individuals facing medical emergencies, surgeries, or chronic 
                    conditions requiring blood transfusions. Additionally, the health screening process 
                    involved in blood donation allows donors to receive valuable insights into their own 
                    health status, including blood pressure, hemoglobin levels, and infectious disease 
                    screening. Regular blood donation has also been associated with reducing the risk of 
                    cardiovascular diseases and iron overload, contributing to overall health and well-being.
                     Moreover, the act of giving blood can have positive emotional effects, fostering a sense 
                     of fulfillment and community connection. It creates a network of individuals committed 
                     to supporting one another during times of need, strengthening social bonds and 
                     promoting a culture of compassion. Ultimately, blood donation is a powerful way to 
                     make a tangible difference in the world while simultaneously benefiting one's own health 
                     and emotional well-being.
                </p>
            </div>

            <div class="container5">
                <h1 class="title" style="text-align: center;padding:40px 0px 30px 0px;">
                    Foods Essential For Blood Generation
                </h1>
                <div class="food-images animated">
                    <div class="food">
                    <img  style="padding-left:60px"src="./img/Red_Meat.jpg">
                    <h3>Red Meat</h3>
                    </div>

                    <div class="food">
                    <img src="./img/Leafy_Green_Vegetables.jpg">
                    <h3>Leafy Green Vegetables</h3>
                    </div>

                    <div class="food">
                    <img src="./img/Beans_And_Legumes.jpg">
                    <h3>Beans and Legumes</h3>
                    </div>

                    <div class="food">
                    <img style="padding-right:60px;" src="./img/Seafood.jpg">
                    <h3>Seafood</h3>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <script src="./javascript/plasma_donation.js"></script>
</body>
</html>