<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PlasmaLink</title>
    <link rel="stylesheet" href="./css/home.css">
</head>

<body>
    <header>
        <nav>
            <div class="left">
                <div class="logo">
                    <img src="./img/Plasma Link Logo.png">
                </div>
            </div>
            <div class="right">
                <ul>
                    <li><a href="/">Home</a></li>
                    <!-- <li><a href="/login">User</a></li> -->
                    <li><a href="/Hlogin">Hospital</a></li>
                    <li><a href="/contact">Contact</a></li>
                    <li>
                        <form action="/donation_request" method="Post">
                            <button class="btn">Donate</button>
                        </form>
                    </li>
                </ul>
            </div>
        </nav>
    </header>

    <main>
        <div class="main-container">
            <div class="container">
                <div class="img1">
                    <img src="./img/Plasma_donar.jpg">
                </div>
                <div class="box" id="Plasma_donar" class="slide-in">
                    <h2 class="title">Plasma Donation</h2>
                    <p class="text">Streamlining the Journey:Your Essential Check Up for Plasma Donation Success.</p>
                    <hr style="height:1.5px;border-width:0;color:rgb(78, 131, 173);background-color:rgb(78, 131, 173)">
                    <button class="button"><a href="/plasma_donation" style="text-decoration: none; color:white;">LEARN MORE</a></button>
                </div>
            </div>
            <div>
                <div class="img1">
                    <img src="./img/Blood_donar.jpg">
                </div>
                <div class="box" id="blood_donar" class="slide-in">
                    <h2 class="title">Blood Donation</h2>
                    <p class="text">Ensuring a Seamless Journey : Your Vital Check Up for Blood Donation Excellence.</p>
                    <hr style="height:1.5px;border-width:0;color:rgb(78, 131, 173);background-color:rgb(78, 131, 173)">
                    <button class="button"><a href="/blood_donation" style="text-decoration: none; color:white;">LEARN MORE</a></button>
                </div>
            </div>
        <!--   <div>
                <div class="img1">
                    <img src="./img/Physical_Exam.jpeg">
                </div>
                <div class="box" id="Physical_Examination" class="slide-in">
                    <h2 class="title" style="padding-top:50px;">Physical Examination</h2>
                    <p class="text">Our medical clinic offers personalized physical examination advice from qualified health professionals.</p>
                    <hr style="height:1.5px;border-width:0;color:rgb(78, 131, 173);background-color:rgb(78, 131, 173)">
                    <p style="display:inline"><b>1000 INR</b></p>
                    <button class="button" style="margin-left:35px;margin-top:10px;">LEARN MORE</button>
                </div>
            </div> -->
        </div>
    </main>

    <script src="./javascript/home.js"></script>
</body>

</html>