<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PlasmaLink</title>
    <link rel="stylesheet" href="./css/plasma_donation.css">
</head>
<body>
    <header>
        <nav>
            <div class="left">
                <div class="logo">
                    <img src="./img/Plasma Link Logo.png">
                </div>
            </div>
            <div class="right">
                <ul>
                    <li><a href="/home">Home</a></li>
                    <li><a href="/login">User</a></li>
                    <li><a href="/Hlogin">Hospital</a></li>
                    <li><a href="/contact">Contact</a></li>
                    <!-- <li><button class="btn">Donate</button></li> -->
                </ul>
            </div>
        </nav>
    </header>

    <main>
        <div class="container1">
            <h1 class="title " style="padding:35px 0px 0px 100px;">Plasma Donation</h1>
            <p class="para " style=" padding:20px 100px 70px 100px;">
                Our clinic is dedicated to ensuring the well-being of all individuals within our community. 
                We recognize the vital importance of plasma donation in saving lives and sustaining health. 
                Our team is committed to facilitating and promoting plasma donation initiatives, fostering a
                culture of compassion and generosity among our patients and staff. Whether through organizing 
                plasma drives, providing information on donation procedures, or supporting donors throughout 
                the process, we strive to contribute to the noble cause of enhancing the availability of 
                life-saving plasma for those in need. Your participation in this essential act of giving is 
                deeply appreciated and makes a significant impact on the lives of others.
            </p>
        </div>

        <div class="container2" >
            <div class="first-images animated" id="images">
                <img src="./img/Plasma_donar.jpg" style="padding:30px 5px 5px 6%">
                <img src="./img/Plasma_donar2.jpg" style="padding:30px 6% 5px 5px">
            </div>
            <div class="second-images animated" id="images">
                <img src="./img/Plasma_donar3.png" style="padding:5px 5px 30px 6%">
                <img src="./img/Plasma_donar4.png" style="padding:5px 6% 30px 5px">
            </div>
        </div>

        <div class="container3">
            <h1 class="title animated" style="padding:40px 0px 30px 100px">Why to donate plasma?</h1>
            <div  class="animated" style="display: flex;">
                <p class="para"  style="padding:0px 25px 60px 100px;">
                    Donating plasma is a crucial act of kindness and generosity that directly saves lives 
                    and improves the health of countless individuals. Plasma, a vital component of blood, 
                    is used in various medical treatments and therapies, particularly for patients with 
                    life-threatening conditions such as immune deficiencies, bleeding disorders, and burns.
                    By donating plasma, you provide essential proteins, antibodies, and clotting factors
                    that are indispensable for these patients' survival and recovery. Your donation can 
                    mean the difference between life and death for someone in urgent need of medical
                    intervention.
                </p>
                <p class="para" style=" padding:0px 100px 60px 0px;">
                    Furthermore, donating plasma is a simple and safe process that allows you to make a
                    meaningful impact on the well-being of others without significant inconvenience or 
                    risk. Your altruism and compassion in donating plasma contribute directly to the health
                    and vitality of our community, embodying the spirit of solidarity and care that defines 
                    our clinic's mission.
                </p>
            </div>

            <div class="container4" >
                <h1 class="title animated" style="text-align:center;padding-top:50px ">Benefits of Plasma Donation </h1>
                <p class="para animated" style="text-align: center;padding:40px 20% 57px 20%">                   Plasma donation offers a multitude of benefits, both for the recipients of plasma-derived
                    therapies and for the donors themselves. Firstly, donating plasma provides life-saving
                    treatments for individuals suffering from a range of medical conditions, including immune
                    deficiencies, hemophilia, and autoimmune disorders. These patients rely on plasma-derived 
                    therapies to manage their conditions and improve their quality of life. Secondly, plasma
                    donation plays a crucial role in medical research and development, aiding scientists in 
                    studying diseases, developing new treatments, and advancing medical knowledge. By
                    contributing to these efforts, donors directly support advancements in healthcare and 
                    scientific understanding. Additionally, plasma donation can have personal benefits for 
                    donors, such as a sense of fulfillment and satisfaction from knowing they are helping 
                    others in need. Donors may also receive compensation for their time and effort, providing
                    an extra incentive to participate in this life-saving activity. Overall, plasma donation
                    offers a win-win opportunity, benefiting both recipients and donors alike while making a
                    positive impact on the health and well-being of society as a whole.
                </p>
            </div>

            <div class="container5">
                <h1 class="title" style="text-align: center;padding:40px 0px 30px 0px;">
                    Foods Essential For Plasma Generation
                </h1>
                <div class="food-images animated">
                    <div class="food">
                    <img src="./img/chicken_eggs.png">
                    <h3>Chicken Eggs</h3>
                    </div>

                    <div class="food">
                    <img src="./img/pork.png">
                    <h3>Pork</h3>
                    </div>

                    <div class="food">
                    <img src="./img/rice.png">
                    <h3>Rice</h3>
                    </div>

                    <div class="food">
                    <img src="./img/fruits.png">
                    <h3>Fruits</h3>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <script src="./javascript/plasma_donation.js"></script>
</body>
</html>